<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Middleware.Properties.Settings1.CONNECTIONSTRING"
            connectionString="Data Source=localhost;Initial Catalog=HRAS_iTas;Integrated Security=false; User ID=HRAS_MW_iTas; Password=ZMNv01X" />
    </connectionStrings>
</configuration>